.wrapper
  .side
    .side__header
      %p.side__header--user-name
        test_user
      .side__header--user-icons
        %i.fas.fa-edit.sideicons-color
        %i.fas.fa-cog.sideicons-color
    .side-groups
      .group
        %p.group__name
          sample-group
        %p.group__last-message
          hello!
      .group
        %p.group__name
          example
        %p.group__last-message
          まだメッセージはありません

  .chat-side
    .chat-header
      .group-wrapper
        %p.group-wrapper__group-name
          test_group
        %ul.group-wrapper__members-list
          Member :
          %li.members-name
            test_user
      %a{:href => "#"}
        .chat-header__edit-btn
          Edit
    .messages
      .message
        .message-info
          %p.message-info__user
            test_user
          %p.message-info__time-stamp
            2019/00/00(sun) 00:00:00
        %p.message__text
          こんにちは！
      .message
        .message-info
          %p.message-info__user
            test_user
          %p.message-info__time-stamp
            2019/00/00(sun) 00:00:00
        %p.message__text
          さようなら！
    .form-box
      .form-wrapper
        %form.form{:action => "#", :method => "POST"}
          .form__input-box
            %input.form__input-box--text{:placeholder => "type a message", :type => "text"}/
            %label.image
              %i.far.fa-image
              %input.image__input{:type => "file"}/
          %input.form__submit-btn{:type => "submit", :value => "Send"}/

