.wrapper
  .side
    .side__header
      %p.side__header--user-name
        test_user
      .side__header--user-icons
        %i.fas.fa-edit.sideicons-color
        %i.fas.fa-cog.sideicons-color
  .side__grouos

  .chat-side
    .chat-header
      %p.chat-header__group-name
        test_group


